Repository jonasotoaguilar/nextjs-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-biome, frontend-tsc, generate-openapi-schema, generate-frontend-client

frontend-biome:
  name: run frontend biome
  entry: sh -c 'cd nextjs-frontend && pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true'
  language: system
  pass_filenames: true

frontend-tsc:
  name: run frontend tsc
  entry: sh -c 'cd nextjs-frontend && pnpm run tsc'
  language: system
  pass_filenames: false

generate-openapi-schema:
  name: generate OpenAPI schema
  entry: sh -c 'cd fastapi_backend && uv run python -m commands.generate_openapi_schema'
  language: system
  pass_filenames: false

generate-frontend-client:
  name: generate frontend client
  entry: sh -c 'cd nextjs-frontend && pnpm run generate-client'
  language: system
  pass_filenames: false

chore(test): migrate from jest to vitest
  nextjs-frontend/__tests__/login.test.tsx
  nextjs-frontend/__tests__/loginPage.test.tsx
  nextjs-frontend/__tests__/passwordReset.test.tsx
  nextjs-frontend/__tests__/passwordResetConfirm.test.tsx
  nextjs-frontend/__tests__/passwordResetConfirmPage.test.tsx
  nextjs-frontend/__tests__/passwordResetPage.test.tsx
  nextjs-frontend/__tests__/register.test.ts
  nextjs-frontend/__tests__/registerPage.test.tsx
  nextjs-frontend/jest.config.ts
  nextjs-frontend/package.json
  nextjs-frontend/pnpm-lock.yaml
  nextjs-frontend/tsconfig.json
  nextjs-frontend/vitest.config.ts
  nextjs-frontend/vitest.setup.ts
Due: frontend-biome, frontend-tsc

ci(pre-commit): add toml, bash and dockerfile linters
  .pre-commit-config.docker.yaml
  .pre-commit-config.yaml
Due: none

fix(docker): pin curl and ca-certificates versions
  fastapi_backend/Dockerfile
  fastapi_backend/pyproject.toml
  nextjs-frontend/Dockerfile
Due: generate-openapi-schema

chore: refactor fastAPI
  fastapi_backend/app/api/v1/endpoints/items.py
  fastapi_backend/app/api/v1/router.py
  fastapi_backend/app/core/config.py
  fastapi_backend/app/core/database.py
  fastapi_backend/app/core/email.py
  fastapi_backend/app/core/users.py
  fastapi_backend/app/core/utils.py
  fastapi_backend/app/main.py
  fastapi_backend/app/models/__init__.py
  fastapi_backend/app/models/base.py
  fastapi_backend/app/models/item.py
  fastapi_backend/app/models/user.py
  fastapi_backend/app/schemas/__init__.py
  fastapi_backend/app/schemas/item.py
  fastapi_backend/app/schemas/user.py
  fastapi_backend/tests/conftest.py
  fastapi_backend/tests/routes/test_items.py
  fastapi_backend/tests/test_database.py
  fastapi_backend/tests/test_email.py
  fastapi_backend/tests/utils/test_utils.py
  local-shared-data/openapi.json
  nextjs-frontend/app/openapi-client/sdk.gen.ts
  nextjs-frontend/app/openapi-client/types.gen.ts
  nextjs-frontend/openapi.json
Due: frontend-tsc, generate-openapi-schema, generate-frontend-client

feat(ci): add dedicated lint workflow
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  nextjs-frontend/package.json
  nextjs-frontend/pnpm-lock.yaml
Due: frontend-biome

ci: conventional-commit branches
  .github/workflows/conventional-commit.yml
  .github/workflows/release.yml
Due: none

ci: add paths filter
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: none

refactor: delete unused class
  .pre-commit-config.yaml
  fastapi_backend/alembic_migrations/versions/b389592974f8_add_item_model.py
  fastapi_backend/app/api/v1/endpoints/items.py
  fastapi_backend/app/api/v1/router.py
  fastapi_backend/app/models/__init__.py
  fastapi_backend/app/models/item.py
  fastapi_backend/app/models/user.py
  fastapi_backend/app/schemas/__init__.py
  fastapi_backend/app/schemas/item.py
  fastapi_backend/tests/routes/test_items.py
  nextjs-frontend/app/dashboard/add-item/page.tsx
  nextjs-frontend/app/dashboard/deleteButton.tsx
  nextjs-frontend/app/dashboard/layout.tsx
  nextjs-frontend/app/dashboard/page.tsx
  nextjs-frontend/app/layout.tsx
  nextjs-frontend/app/login/page.tsx
  nextjs-frontend/app/openapi-client/sdk.gen.ts
  nextjs-frontend/app/openapi-client/types.gen.ts
  nextjs-frontend/app/page.tsx
  nextjs-frontend/app/password-recovery/confirm/page.tsx
  nextjs-frontend/app/password-recovery/page.tsx
  nextjs-frontend/app/register/page.tsx
  nextjs-frontend/components/actions/items-action.ts
  nextjs-frontend/components/actions/login-action.ts
  nextjs-frontend/components/page-pagination.tsx
  nextjs-frontend/components/page-size-selector.tsx
  nextjs-frontend/openapi.json
  nextjs-frontend/proxy.ts
Due: frontend-biome, frontend-tsc, generate-frontend-client

docs: translate documentation to Spanish and update fork references
  CHANGELOG.md
  README.md
  docs/images/banner.png
  docs/images/footer-logo.svg
  docs/images/github-favicon.png
  docs/images/nav-logo.png
  docs/images/thumbnail.png
  docs/images/vinta-logo.png
  mkdocs.yml
  overrides/main.html
Due: none

docs: add guide for extending the template with new modules
  docs/extending-template.md
Due: none

refactor(ui): remove original repository badge from landing page
  nextjs-frontend/app/page.tsx
Due: frontend-biome, frontend-tsc

refactor(test): colocate frontend tests and update vitest config
  nextjs-frontend/__tests__/passwordReset.test.tsx
  nextjs-frontend/__tests__/passwordResetConfirm.test.tsx
  nextjs-frontend/app/login/page.test.tsx
  nextjs-frontend/app/password-recovery/confirm/page.test.tsx
  nextjs-frontend/app/password-recovery/page.test.tsx
  nextjs-frontend/app/register/page.test.tsx
  nextjs-frontend/components/actions/login-action.test.tsx
  nextjs-frontend/components/actions/password-reset-action.test.tsx
  nextjs-frontend/components/actions/register-action.test.ts
  nextjs-frontend/vitest.config.ts
Due: frontend-biome, frontend-tsc

docs: update doc
  docs/additional-settings.md
  docs/contributing.md
  docs/deployment.md
  docs/get-started.md
  docs/support.md
  docs/technology-selection.md
Due: none

chore: update project configuration and ignore patterns
  .gitignore
  .pre-commit-config.docker.yaml
  .pre-commit-config.yaml
  docker-compose.yml
Due: none

chore: update ruff to 0.15.0
  fastapi_backend/alembic_migrations/env.py
  fastapi_backend/alembic_migrations/versions/402d067a8b92_added_user_table.py
  fastapi_backend/app/core/database.py
  fastapi_backend/app/core/email.py
  fastapi_backend/app/core/users.py
  fastapi_backend/app/main.py
  fastapi_backend/app/models/user.py
  fastapi_backend/app/schemas/user.py
  fastapi_backend/commands/generate_openapi_schema.py
  fastapi_backend/pyproject.toml
  fastapi_backend/tests/commands/test_generate_openapi_schema.py
  fastapi_backend/tests/conftest.py
  fastapi_backend/tests/main/test_main.py
  fastapi_backend/tests/test_database.py
  fastapi_backend/tests/test_email.py
  fastapi_backend/tests/utils/test_utils.py
  fastapi_backend/uv.lock
  fastapi_backend/vercel.prod.json
  fastapi_backend/watcher.py
  local-shared-data/openapi.json
Due: generate-openapi-schema, generate-frontend-client

fix(ci): remove unnecessary backslashes in CORS_ORIGINS
  .github/workflows/ci.yml
Due: none

fix(ui): migrate zod schemas to v4 syntax and fix tsc errors
  .pre-commit-config.yaml
  ui/lib/definitions.ts
Due: none

fix(ui): definitions.ts message
  .pre-commit-config.yaml
  api/uv.lock
  ui/.biomeignore
  ui/lib/definitions.ts
Due: none

chore: update compose name dev
  Makefile
  api/pyproject.toml
  api/uv.lock
  docker-compose-dev.yml
  ui/openapi.json
Due: generate-openapi-schema, generate-frontend-client

ci(api): add CodeQL security analysis workflow
  .github/codeql/api-codeql-config.yml
  .github/workflows/api-codeql.yml
Due: none

ci(ui): add CodeQL security analysis workflow
  .github/codeql/ui-codeql-config.yml
  .github/workflows/ui-codeql.yml
Due: none

ci(api): add security scans (bandit, safety, vulture)
  .github/workflows/api-security.yml
Due: none

chore: update pre-commit config
  .editorconfig
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/api-lint.yml
  .github/workflows/api-security.yml
  .pre-commit-config.docker.yaml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  api/alembic_migrations/README
  api/app/core/config.py
  api/app/core/database.py
  api/app/core/email.py
  api/app/core/users.py
  api/app/core/utils.py
  api/app/email_templates/password_reset.html
  api/commands/generate_openapi_schema.py
  api/mypy.ini
  api/pyproject.toml
  api/pytest.ini
  api/requirements.txt
  api/tests/commands/files/openapi_test.json
  api/tests/commands/files/openapi_test_output.json
  api/uv.lock
  api/vercel.json
  api/watcher.py
  docs/stylesheets/extra.css
  local-shared-data/openapi.json
  ui/start.sh
Due: generate-openapi-schema, generate-frontend-client

refactor: pre-commit order
  .pre-commit-config.yaml
Due: none

ci: ci test combine
  .github/workflows/api-ci.yml
  .github/workflows/api-lint.yml
  .github/workflows/ui-ci.yml
  .github/workflows/ui-lint.yml
  .vscode/settings.json
  api/mypy.ini
  api/tests/test_email.py
Due: none

chore(docker): upgrade api and ui dockerfiles to multi-stage
  api/Dockerfile
  ui/Dockerfile
  ui/next.config.mjs
Due: none

feat(infra): add production docker-compose configuration
  docker-compose.yml
Due: none

ci(github): add container build and push workflows for ghcr
  .github/workflows/api-container-build-push.yml
  .github/workflows/ui-container-build-push.yml
Due: none

fix(ui): resolve docker build errors and tailwind incompatibility
  ui/Dockerfile
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

chore(vscode): configure yaml formatting
  .vscode/extensions.json
  .vscode/settings.json
Due: none

fix: tailwind config
  .gitignore
  docker-compose-dev.yml
  ui/.gitignore
  ui/app/globals.css
  ui/package.json
  ui/pnpm-lock.yaml
  ui/postcss.config.js
  ui/tailwind.config.js
Due: none

ci: fix docker build
  docker-compose-dev.yml
  docker-compose.yml
  ui/pnpm-lock.yaml
Due: none

fix: generate OpenAPI client before build in production
  ui/Dockerfile
Due: none

refactor: rename workflows
  .github/workflows/api-ci.yml
  .github/workflows/ui-ci.yml
Due: none

refactor: update openapi-ts config to use new postProcess syntax
  ui/openapi-ts.config.ts
Due: none

fix: properly handle pnpm build scripts in Docker
  ui/Dockerfile
Due: none

perf: build only for linux/amd64 to speed up CI
  .github/workflows/api-container-build-push.yml
  .github/workflows/ui-container-build-push.yml
Due: none

perf: optimize CI workflows with concurrency and better pnpm caching
  .github/workflows/api-container-build-push.yml
  .github/workflows/ui-container-build-push.yml
  ui/Dockerfile
Due: none

docs: update README.md and AGENTS.md
  .github/workflows/coveralls.yml
  AGENTS.md
  README.md
  api/AGENTS.md
  api/README.md
  api/app/routes/__init__.py
  api/tests/routes/__init__.py
  ui/AGENTS.md
  ui/README.md
Due: none

Path conditions:
  frontend-biome: any of: ^nextjs-frontend/.*\.(js|jsx|ts|tsx|json|css)$, but not: (openapi\.json$|openapi-client/)
  frontend-tsc: any of: ^nextjs-frontend/.*\.(ts|tsx)$
  generate-openapi-schema: any of: (main\.py$|schemas\.py$|pyproject\.toml)
  generate-frontend-client: any of: openapi\.json$
