Repository jonasotoaguilar/nextjs-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-biome, ui-tsc, api-mypy, api-bandit, api-vulture, api-safety, generate-openapi-schema, generate-frontend-client

ui-biome:
  name: UI - biome
  entry: sh -c 'cd ui && pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true "$@"' --
  language: system
  pass_filenames: true

ui-tsc:
  name: UI - tsc
  entry: sh -c 'cd ui && pnpm run tsc'
  language: system
  pass_filenames: false

api-mypy:
  name: API - MyPy (Type Checking)
  entry: sh -c 'cd api && uv run mypy .'
  language: system
  pass_filenames: false

api-bandit:
  name: API - Bandit (Security)
  entry: uvx bandit -r api -lll -x api/tests,api/alembic_migrations,api/.venv
  language: system
  pass_filenames: false

api-vulture:
  name: API - Vulture (Dead Code)
  entry: uvx vulture --min-confidence 100 --exclude api/tests,api/alembic_migrations,api/.venv api
  language: system
  pass_filenames: false

api-safety:
  name: API - Safety (Dependencies Audit)
  entry: sh -c 'cd api && uv pip compile pyproject.toml -q -o requirements.txt && uvx safety check -r requirements.txt --ignore 70612 && rm requirements.txt'
  language: system
  pass_filenames: false

generate-openapi-schema:
  name: UI - generate OpenAPI schema
  entry: sh -c 'cd api && uv run python -m commands.generate_openapi_schema'
  language: system
  pass_filenames: false

generate-frontend-client:
  name: UI - generate frontend client
  entry: sh -c 'cd ui && pnpm run generate-client'
  language: system
  pass_filenames: false

chore: exclude documentation from Docker images
  api/.dockerignore
  ui/.dockerignore
Due: none

feat: update visuals
  api/app/core/users.py
  docker-compose-dev.yml
  ui/app/layout.tsx
  ui/app/login/layout.tsx
  ui/app/login/page.test.tsx
  ui/app/login/page.tsx
  ui/app/page.tsx
  ui/app/password-recovery/confirm/layout.tsx
  ui/app/password-recovery/confirm/page.test.tsx
  ui/app/password-recovery/confirm/page.tsx
  ui/app/password-recovery/layout.tsx
  ui/app/password-recovery/page.tsx
  ui/app/register/layout.tsx
  ui/app/register/page.test.tsx
  ui/app/register/page.tsx
  ui/components/actions/login-action.test.tsx
  ui/components/actions/login-action.ts
  ui/components/actions/password-reset-action.test.tsx
  ui/components/actions/password-reset-action.ts
  ui/components/actions/register-action.test.ts
  ui/components/actions/register-action.ts
  ui/components/ui/password-input.tsx
  ui/components/ui/submitButton.tsx
  ui/lib/definitions.ts
  ui/lib/utils.ts
  ui/next.config.mjs
  ui/openapi-ts.config.ts
  ui/package.json
  ui/pnpm-lock.yaml
  ui/postcss.config.js
Due: ui-biome, ui-tsc, api-mypy, api-bandit, api-vulture

docs: add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

docs: add SECURITY.md
  SECURITY.md
Due: none

docs: add Code of Conduct and Security to documentation site
  docs/CODE_OF_CONDUCT.md
  docs/SECURITY.md
  mkdocs.yml
Due: none

fix(docker): ensure test database container is running for api tests
  docker-compose-dev.yml
Due: none

docs: simplify changelog for template initialization
  CHANGELOG.md
Due: none

ci: add github action for automated docs deployment
  .github/workflows/docs.yml
Due: none

docs: translate core documentation to English and sync docs directory
  AGENTS.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  api/AGENTS.md
  api/README.md
  docs/additional-settings.md
  docs/contributing.md
  docs/deployment.md
  docs/extending-template.md
  docs/get-started.md
  docs/support.md
  docs/technology-selection.md
  ui/AGENTS.md
  ui/README.md
Due: none

chore(ci): ignore alembic migrations in security and analysis tools 🛡️
  .github/codeql/api-codeql-config.yml
  .github/workflows/api-security.yml
Due: none

refactor(ui): remove unused focus state in PasswordInput component 🧹
  ui/components/ui/password-input.tsx
Due: ui-biome, ui-tsc

style(ui): minor formatting in password recovery page 🎨
  ui/app/password-recovery/page.tsx
Due: ui-biome, ui-tsc

chore: unignore and include .env.example
  api/.env.example
  api/.gitignore
  ui/.env.example
  ui/.gitignore
Due: none

fix(makefile): init env ui install
  Makefile
Due: none

chore: change CHANGELOG.md template
  CHANGELOG.md
Due: none

chore: add api skill
  AGENTS.md
  GEMINI.md
  api/AGENTS.md
  api/GEMINI.md
  skills/api-design-principles/SKILL.md
  skills/api-design-principles/assets/api-design-checklist.md
  skills/api-design-principles/assets/rest-api-template.py
  skills/api-design-principles/references/graphql-schema-design.md
  skills/api-design-principles/references/rest-best-practices.md
Due: none

chore: add skill fastapi
  AGENTS.md
  GEMINI.md
  api/AGENTS.md
  api/GEMINI.md
  skills/fastapi-expert/SKILL.md
  skills/fastapi-expert/references/async-sqlalchemy.md
  skills/fastapi-expert/references/authentication.md
  skills/fastapi-expert/references/endpoints-routing.md
  skills/fastapi-expert/references/migration-from-django.md
  skills/fastapi-expert/references/pydantic-v2.md
  skills/fastapi-expert/references/testing-async.md
  skills/fastapi-templates/SKILL.md
Due: none

docs(project): update documentation and guidelines
  README.md
  api/AGENTS.md
  docs/additional-settings.md
  docs/extending-template.md
  docs/get-started.md
  docs/technology-selection.md
  ui/AGENTS.md
Due: none

chore(deps): update project dependencies
  ui/package.json
  ui/pnpm-lock.yaml
Due: ui-biome

refactor(api): restructure application into modular architecture
  api/.gitignore
  api/GEMINI.md
  api/README.md
  api/alembic_migrations/env.py
  api/alembic_migrations/versions/c384314bdd22_remove_deleted_items_table.py
  api/app/api/v1/router.py
  api/app/core/base.py
  api/app/core/database.py
  api/app/core/email.py
  api/app/main.py
  api/app/models/__init__.py
  api/app/modules/__init__.py
  api/app/modules/users/__init__.py
  api/app/modules/users/manager.py
  api/app/modules/users/models.py
  api/app/modules/users/router.py
  api/app/modules/users/schemas.py
  api/app/modules/users/service.py
  api/app/schemas/__init__.py
  api/tests/conftest.py
  api/tests/core/test_database.py
  api/tests/core/test_email.py
  api/tests/core/test_utils.py
  api/tests/modules/users/test_router.py
  api/tests/modules/users/test_service.py
  api/watcher.py
Due: api-mypy, api-bandit, api-vulture, generate-openapi-schema

docs: update structure agents.md ui
  ui/AGENTS.md
Due: none

docs: update structure gemini.md root, ui
  GEMINI.md
  ui/GEMINI.md
Due: none

chore(api): replace pyright with pyrefly type checker
  .github/workflows/api-ci.yml
  .pre-commit-config.yaml
  api/AGENTS.md
  api/GEMINI.md
  api/alembic_migrations/env.py
  api/alembic_migrations/versions/402d067a8b92_added_user_table.py
  api/alembic_migrations/versions/c384314bdd22_remove_deleted_items_table.py
  api/app/core/config.py
  api/app/core/database.py
  api/app/core/email.py
  api/app/modules/users/manager.py
  api/app/modules/users/router.py
  api/app/modules/users/schemas.py
  api/app/modules/users/service.py
  api/commands/generate_openapi_schema.py
  api/mypy.ini
  api/pyproject.toml
  api/tests/commands/test_generate_openapi_schema.py
  api/tests/conftest.py
  api/tests/core/test_database.py
  api/tests/core/test_email.py
  api/tests/modules/users/test_router.py
  api/tests/modules/users/test_service.py
  api/uv.lock
  api/watcher.py
Due: api-mypy, api-bandit, api-vulture, api-safety, generate-openapi-schema

chore: uptade vscode
  .editorconfig
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

ci: update lint api workflow
  .github/workflows/ui-ci.yml
Due: none

chore: update makefile
  Makefile
Due: none

Path conditions:
  ui-biome: any of: ^ui/.*\.(js|jsx|ts|tsx|json|css)$, but not: (openapi\.json$|openapi-client/)
  ui-tsc: any of: ^ui/.*\.(ts|tsx)$, but not: ^ui/\.next/
  api-mypy: any of: ^api/.*\.py$
  api-bandit: any of: ^api/.*\.py$
  api-vulture: any of: ^api/.*\.py$
  api-safety: any of: ^api/pyproject\.toml$
  generate-openapi-schema: any of: (main\.py$|schemas\.py$|pyproject\.toml)
  generate-frontend-client: any of: openapi\.json$
